<container>
  <row>
    <columns class="footer" small="12" large="12">
      <p><strong><a href="http://www.dcml.co.uk">DCML Limited</a></strong>, 1 Waterloo Court, Waterloo Road, Stockport, Cheshire, SK1 3DU <strong>T: <a href="tel:+448444152400">+44 (0) 8444 152 400</a> E: <a href="mailto:info@dcml.co.uk">info@dcml.co.uk</a></strong></p>
      <p>Registered Name DCML Limited. Registered in England No. 3929354. Registered Office 1 Waterloo Court, Waterloo Road, Stockport, SK1 3DU</p>
      <p><small>Authorised and Regulated by the Financial Conduct Authority.</small></p>
    </columns>
  </row>
</container>